*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner-container{
    display: flex;
    /* border: 2px solid black; */
    background-color: rgba(229, 84, 115, 0.1);
    width: 100%;
    height: 732px;
    align-items: center;
    padding: 10px 120px 0 150px;
}
.banner-text{
    margin: 14px 10px 0;
}
.banner-text h1{
    /* border: 2px solid black; */
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-text p{
    /* border: 2px solid black; */
    font-size: 20px;
    color: rgb(39, 39, 39, 0.6);
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-container button{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #E55473;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;;
}
.banner-flowers img{
    /* border: 2px solid black; */
    padding: 50px 0 0 50px;
    height: 725px;
    width: 535px;
}
#cards{
    /* border: 2px solid black; */
    padding: 100px 100px 0;
    text-align: center;
}
.card-text{
    margin: 0 370px;
}
.card-text h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.card-text p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}
#cards .flower-cards{
    text-decoration: underline;
    /* border: 2px solid black; */
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#cards .flower-cards .fl{
    /* border: 2px solid black; */
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}
#cards .flower-cards .fl .fl1{
    background-color: rgb(167, 33, 98, 0.15);
    /* border: 2px solid black; */
    border-radius: 300px 300px 0 0;
    padding: 100px 50px 0;
    height: 430px;
}
#cards .flower-cards .fl .fl2{
    background-color: rgb(5, 151, 160, 0.15);
    /* border: 2px solid black; */
    border-radius: 300px 300px 0 0;
    padding: 117px 47px 51px;
    height: 430px;
}
#cards .flower-cards .fl .fl3{
    background-color: rgb(71, 125, 17, 0.15);
    /* border: 2px solid black; */
    border-radius: 300px 300px 0 0;
    padding: 100px 50px 0;
    height: 430px;
}
.b2-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin: 120px 200px;
    padding: 76px 70px;
    background-color: rgb(39, 39, 39,0.05);
}
.b2-container .delivary img,.b2-container .flower img,.b2-container .contact img{
    /* border: 2px solid black; */
    display: block;
    margin: 0 auto;
}
.b2-container .delivary p,.b2-container .flower p,.b2-container .contact p{
    /* border: 2px solid black; */
    font-size: 20px;
    line-height: 30px;
}